
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 90%;
    --ring: 0 0% 0%;

    --radius: 0.85rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 36 100% 90%;
    --card: 0 0% 3%;
    --card-foreground: 36 100% 90%;
    --popover: 0 0% 0%;
    --popover-foreground: 36 100% 90%;
    --primary: 36 100% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 5%;
    --secondary-foreground: 36 100% 90%;
    --muted: 0 0% 10%;
    --muted-foreground: 36 100% 75%;
    --accent: 36 100% 90%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 100% 90%;
    --border: 36 30% 20%;
    --input: 0 0% 5%;
    --ring: 36 100% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%;
    @apply bg-background text-foreground antialiased;
  }
}
